@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lora:wght@700&family=Quicksand:wght@400;500;700&family=Roboto+Slab:wght@700&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?2hypyb");
  src: url("../fonts/icomoon.eot?2hypyb#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2hypyb") format("truetype"), url("../fonts/icomoon.woff?2hypyb") format("woff"), url("../fonts/icomoon.svg?2hypyb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

[class^=icon-], [class*=icon-] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}

.icon-twitter:before {
  content: "\e901";
}

.icon-vk:before {
  content: "\e902";
}

.icon-youtube:before {
  content: "\e903";
}

.logo {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
.nav__item__link {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
}

.langBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.social__item-link {
  font-size: 24px;
}

.btn {
  background-color: #1ed400;
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background: rgba(0, 0, 0, 0.85);
  padding: 36px 0px;
  position: sticky;
  top: 0;
}
.header__logo {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}
.header .nav__item-link {
  color: #fff;
}
.header .social__item-link {
  color: #fff;
  font-size: 24px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background: url(../img/mount-bg.png) no-repeat;
  background-size: cover;
  padding: 96px 0px;
}
.footer__logo {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #000;
}
.footer .nav__item-link {
  color: #000;
}
.footer .social__item-link {
  color: #000;
}

.bg-photo {
  background: url(../img/mountbg.png) no-repeat;
  background-size: cover;
  min-width: 100%;
  width: 100%;
  min-height: 964px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  margin-top: -119px;
}
.bg-photo svg {
  position: absolute;
  margin-top: 640px;
}
.bg-photo .call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 48px;
}
.bg-photo .call-to-action h1 {
  font-family: "Lora", serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 100px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.bg-photo .call-to-action span {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}
.bg-photo .call-to-action .btn {
  padding: 21px 110px;
}

.about-us__text-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  padding: 144px 141px 64px;
}
.about-us__text-in h2 {
  color: #333;
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.about-us__text-in p {
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  min-width: 61%;
  width: 61%;
}
.about-us .imgs-cont {
  padding: 0px 141px 124px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 130px;
  flex-direction: row;
}
.about-us .imgs-cont__el {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
.about-us .imgs-cont h3 {
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
  line-height: normal;
  color: #1ed400;
  text-transform: uppercase;
  min-height: 190px;
}
.about-us .imgs-cont svg {
  margin-top: -145px;
}
.about-us .imgs-cont p {
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.barc-cont {
  background: url(../img/barcelona.png) no-repeat;
  background-size: cover;
  min-width: 100%;
  width: 100%;
  min-height: 758px;
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
.barc-cont__tittle1 {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 56px 0px 16px;
}
.barc-cont__tittle2 {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
  line-height: 144px;
  text-transform: uppercase;
}
.barc-cont__tittle3 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  padding: 16px 0px 32px;
}
.barc-cont p {
  text-align: center;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  width: 54%;
}
.barc-cont__line {
  top: -52px;
  left: 389px;
  border-bottom: 3px solid #fff;
  width: 300px;
  height: 0px;
  margin: 16px 0px 40px;
}
.barc-cont h4 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.barc-cont__btn {
  padding: 20px 50px;
}

.imgs-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: row;
}
.imgs-cont__in {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}
.imgs-cont__in-p {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 5px 8px;
  margin-top: 10px;
}
.imgs-cont__in-smallimg {
  width: 441px;
  height: 294px;
}
.imgs-cont__in-img {
  width: 514px;
  height: 342px;
}
.imgs-cont__in svg {
  position: absolute;
  margin: 129px 204px;
}

.pop-ways {
  padding: 124px 150px 72px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}
.pop-ways h2 {
  color: #333;
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.pop-ways .addition {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}
.pop-ways .addition__btn {
  padding: 19px 62px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
}
.pop-ways .addition p {
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.trav-stor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  padding: 48px 150px 64px;
  mix-blend-mode: multiply;
  background: rgba(30, 212, 0, 0.4) no-repeat;
  background-image: url(../img/fish-bg.png);
  background-size: cover;
}
.trav-stor h2 {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.trav-stor .imgs-cont__ins {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}
.trav-stor .imgs-cont__ins-p {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 4px 8px;
  margin: 12px 8px;
}
.trav-stor .imgs-cont__ins-img {
  width: 514px;
  height: 342px;
}
.trav-stor .imgs-cont__ins svg {
  position: absolute;
  margin: 157px 237px 145px;
}
.trav-stor .imgs-cont__in-p {
  margin: 8px 12px;
  padding: 4px 8px;
  text-transform: none;
}
.trav-stor .imgs-cont__in-psmall {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  padding: 4px 8px;
  margin: 10px 7px;
}/*# sourceMappingURL=style.css.map */