@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2hypyb');
  src:  url('../fonts/icomoon.eot?2hypyb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2hypyb') format('truetype'),
    url('../fonts/icomoon.woff?2hypyb') format('woff'),
    url('../fonts/icomoon.svg?2hypyb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lora:wght@700&family=Quicksand:wght@400;500;700&family=Roboto+Slab:wght@700&display=swap');

$white: #fff;
$white40: rgba(255, 255, 255, 0.4);
$grey: #333;
$dark: #000;
$dark85: rgba(0, 0, 0, 0.85);
$dark50: rgba(0, 0, 0, 0.5);
$green: #1ed400;
$green40: rgba(30, 212, 0, 0.4);
$cyan: #027FA5;
$white-smoke: #D5D8DB;

@mixin Roboto($fs, $fw, $lh){
  font-family: 'Roboto Slab', serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin Lora($fs, $fw, $lh){
  font-family: 'Lora', serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin Lato($fs, $fw, $lh){
  font-family: 'Lato', sans-serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin Quicksand($fs, $fw, $lh){
  font-family: 'Quicksand', sans-serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin flex($jc, $ai, $gp){
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gp;
}

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

[class^="icon-"], [class*="icon-"]{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak:never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-vk:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}

.logo{
  @include Roboto(32px, 700, 32px)
}

.nav{
  @include flex(center, center, 56px);
  &__item{
    &__link{
      @include Lato(22px, 500, 22px);
    }
  }
}

.langBar{
  @include flex(center, center, 4px);
}

.social{
  @include flex(center, center, 32px);
  &__item{
    &-link{
      font-size:24px;
    }
  }
}

.btn{
  background-color: $green;
  color:$white;
  text-transform:uppercase;
  @include Lato(16px,900,16px);
}

.header{
  @include flex(space-around, center, 0);
  background: $dark85;
  padding:36px 0px;
  position: sticky;
  top:0;

  &__logo{
    @include Roboto(32px, 700, 32px );
    color:$white;
  }
  .nav{
    &__item{
      &-link{
        color:$white;
      }
    }
  }

  .social{
    &__item{
      &-link{
        color:$white;
        font-size:24px;
      }
    }
  }
}

.footer{
  @include flex(space-around, center, 0);
  background: url(../img/mount-bg.png) no-repeat;
  background-size: cover;
  padding:96px 0px;
  &__logo{
    @include Roboto(32px, 700, 32px );
    color:$dark;
  }
  .nav{
    &__item{
      &-link{
        color:$dark;
      }
    }
  }

  .social{
    &__item{
      &-link{
        color:$dark;
      }
    }
  }
}

.bg-photo{
  background: url(../img/mountbg.png) no-repeat;
  background-size: cover;
  min-width: 100%;
  width: 100%;
  min-height: 964px;
  @include flex(center,center,0);
  flex-direction: column;
  margin-top:-119px;

  svg{
  position:absolute;
  margin-top:640px;
  }
 

 .call-to-action{
  @include flex(center, center , 32px);
  flex-direction:column;
  background-color:$dark85;
  padding:48px;

  h1{
    @include Lora(84px, 700, 100px);
    color:$white;
    text-transform: uppercase;
    text-align: center;

  }

  span{
    @include Lato(24px, 400, 24px);
    color:$white;
  }

  .btn{
    padding:21px 110px;
  }
}
}

.about-us{
  // padding:144px 141px 124px;

  &__text-in{
    @include flex(center,center,32px);
    flex-direction: column;
    padding:144px 141px 64px;

    h2{
      color: $grey;
      @include Roboto(56px,700,normal);
      text-transform: uppercase; 
    }

    p{
      color: $grey;
      @include Quicksand(20px, 500, 32px);
      text-align: center;
      min-width:61%;
      width:61%;
    }
  }
  
  .imgs-cont{
    padding:0px 141px 124px;
    @include flex(space-around,center,130px);
    flex-direction:row;
    // grid-template-rows:1fr;

    &__el{
      @include flex(center,center,0px);
      flex-direction:column;
    }
    h3{
      @include Roboto(144px,700,normal);
      color: $green;
      text-transform: uppercase;
      min-height:190px;
    }

    svg{
      margin-top:-145px;
    }

    p{
      color:$grey;
      @include Quicksand(40px,400,32px);
      text-align: center;
  }
  }
}

.barc-cont{
  background: url(../img/barcelona.png) no-repeat;
  background-size:cover;
  min-width: 100%;
  width: 100%;
  min-height: 758px;
  @include flex(none,center,0px);
  flex-direction:column;

  &__tittle1{
    color:$white;
    @include Roboto(56px, 700, normal);
    text-transform: uppercase;
    padding:56px 0px 16px;
  }
  &__tittle2{
    color:$white;
    @include Roboto(144px, 700, 144px);
    text-transform: uppercase; 
  }
  &__tittle3{
    color:$white;
    @include Quicksand(24px,500,18px);
    text-transform: uppercase;
    padding: 16px 0px 32px;
  }
  p{
    text-align: center; 
    color:$white;
    @include Quicksand(24px,400,32px);
    width:54%;
  }
  &__line{
    top: -52px;
    left: 389px;
    border-bottom: 3px solid $white;
    width: 300px;
    height: 0px;
    margin:16px 0px 40px;
  }

  h4{
    color:$white;
    @include Quicksand(24px,400,32px);
    text-align: center;
    text-transform: uppercase;
    padding-bottom:25px;
  }
  &__btn{
    padding:20px 50px;
  }
}

.imgs-cont{
  @include flex(center,center,40px);
  flex-direction:row;
  &__in{
    @include flex(flex-start,flex-start,0px);
    &-p{
      position:absolute;
      background: rgba(0, 0, 0, 0.85); 
      color:$white;
      @include Roboto(18px,400,18px);
      text-transform: uppercase;
      padding:5px 8px;
      margin-top:10px;
    }
    &-smallimg{
      width: 441px;
      height: 294px;   
    }
    &-img{
      width: 514px;
      height: 342px;
    }
    svg{
        position:absolute;
        margin:129px 204px;
    }
}
}

.pop-ways{
  padding:124px 150px 72px 150px;
  @include flex(center,center,40px);
  flex-direction:column;
  h2{
    color:$grey;
    @include Roboto(56px,700,normal);
    text-transform: uppercase; 
  }
  .addition{
    padding-top:10px;
    @include flex(center,center,8px);
    flex-direction: column;
    &__btn{
      padding:19px 62px;
      color:$white;
      @include Quicksand(20px,700,18px);
    }
    p{
      color:$grey;
      @include Quicksand(14px,500,18px);
      text-align: center;
    }
  }
}

.trav-stor{
  @include flex(center,center,32px);
  flex-direction:column;
  padding:48px 150px 64px;
  mix-blend-mode: multiply; 
  background: rgba(30, 212, 0, 0.40) no-repeat;
  background-image:url(../img/fish-bg.png);
  background-size:cover;

  h2{
    color:$white;
    @include Roboto(56px,700,normal);
    text-transform: uppercase; 
  }

  .imgs-cont__ins{
    @include flex(flex-start,flex-start,0px);
    &-p{
      position:absolute;
      background: rgba(0, 0, 0, 0.85); 
      color:$white;
      @include Lato(18px,400,18px);
      text-transform: uppercase;
      padding:4px 8px;
      margin:12px 8px;
    }
    &-img{
      width: 514px;
      height: 342px; 
    }
    svg{
      position:absolute;
      margin:157px 237px 145px;
    }
}
  .imgs-cont__in{
  &-p{
    margin:8px 12px;
    padding:4px 8px;
    text-transform: none;
  }
  &-psmall{
    position:absolute;
    background: rgba(0, 0, 0, 0.85); 
    color:$white;
    @include Lato(18px,400,18px);
    padding:4px 8px;
    margin:10px 7px;
  }
}
}


